<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/../css/style.css">

</head>
<body>
            <footer class="footer">
                    <span class="foot_1">TimeSheetProject</span>


                    <span class="foot_2"> © 2001-2018 MyTimeSheet, Inc. Powered by My Time Sheet Manager</span>
               
            </footer>
        
    </body>
    </html>