<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/../css/style.css">

</head>
<body>
    
    <div class="container">
       
        <div class="main">

              <header class="header_div">

                <a href="#"><img class="img_class" src="/../images/mytask.png" alt="img_head" ></a>
                 
                <span class="logo">My Time Sheet</span>
                      
              </header>

