<%- include layouts/header.ejs %>



     
<div class="middle1">
              
          
    <div class="middle2">

        <span class="middle2_head">Congratulations</span>
                    
        <span class="middle2_content">Successfully Registered</span>

       <img src="/../images/success-icon-2.png" alt="success_img" class="sucess_img">

     <input type="button" onclick="redirectLogin()" value="Clicl Here To LogIn" 
     name="success_login_btn" class="click_login" >



    </div>
   
</div>  
<script src="/../js/main.js"

<%- include layouts/footer.ejs %>